{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">

</head>
<body>
    <form action="" method="POST">
        <div>
        <table align="center" border="0" width="50%" cellspacing="10" cellpadding="10">
            <tr>
                <td class="login" align="center">
                    LOGIN HERE
                </td>
            </tr>
            <tr>
                <td align="center"><input type="text" placeholder="user name" required></td>
            </tr>
            <tr>
                <td align="center"><input type="password" placeholder="password" required></td>
            </tr>
            <tr>
                <td class="btn" align="center"><button type="submit">LOGIN</button></td>
            </tr>
            <tr>
                <td align="center"><button type="reset">RESET</button></td>
            </tr>
        </table>
        </div>
    </form>
    
</body>
</html>